body {
    background-color: #EAF6F6;
}

h1 {
    color: #19456b;
}

h3 {
    color: #16c79a;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 3px;          
    width: 10%;
}

a {
    text-decoration: none;
}

a:hover {
    color: #19456b;
  }

#titulo {
    font-family: fantasy;
}

#resumo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cidade {
    font-weight: bold;
    text-decoration: underline;
}

